.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  max-width: 1100px;
  margin: 0 auto;
  height: 5rem;
}

.header img {
  cursor: pointer;
}

.header h1 {
  font-size: 1.3rem;
  text-decoration: underline;
}

.main {
  margin: 1rem;
  max-width: 1100px;
}

@media (min-width: 576px) {
  .main {
    margin: 1rem auto;
  }
}

.main .downloadContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

@media (min-width: 576px) {
  .main .downloadContainer {
    margin-top: 2.5rem;
  }
}

.main .mainImageContainer {
  height: 83vh;
  position: relative;
}

.main .mainImageContainer img {
  object-fit: contain;
}

@media (min-width: 576px) {
  .main .downloadContainer {
    justify-content: center;
  }
  .main .downloadContainer a {
    margin-right: 1rem;
  }
}
