.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  color: black;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

@media (min-width: 576px) {
  .header {
    height: 8vh;
    padding: 0;
    background: black;
    color: white;
  }
}

.header .headerContainer {
  flex: 1;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContainer .socialNetworks,
.headerContainer .logoMadresYFamiliares {
  display: none;
}

@media (min-width: 576px) {
  .headerContainer .socialNetworks,
  .headerContainer .logoMadresYFamiliares {
    display: block;
  }
  .headerContainer .downloadBtnWithoutText {
    display: none;
  }
}

.headerContainer .socialNetworks a {
  margin: 0 30px;
  font-weight: 200;
}

.header img {
  cursor: pointer;
}

.header h1 {
  font-size: 1.1rem;
  text-decoration: underline;
}

@media (min-width: 576px) {
  .header h1 {
    font-size: 1.2rem;
  }
}

.main {
  max-width: 1100px;
  max-height: 90vh;
}

@media (min-width: 576px) {
  .main {
    margin: 1rem auto;
    display: flex;
  }
}

.main .mainImageContainer {
  height: 625px;
  position: relative;
}

.main .mainImageContainer img {
  object-fit: contain;
  object-position: top;
}

@media (min-width: 576px) {
  .main .mainImageContainer {
    height: 88vh;
    max-width: 430px;
    flex: 1;
  }
  .main .mainImageContainer img {
    object-position: left top;
  }
}

.main .downloadContainer {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

.downloadContainer .downloadBtnWithText {
  display: none;
}

@media (min-width: 576px) {
  .main .downloadContainer {
    margin-top: 0;
    align-self: flex-start;
    flex-direction: column;
    flex: 1;
  }

  .downloadContainer .downloadBtnWithText {
    display: block;
  }

  .main .downloadContainer > a {
    margin-bottom: 10px;
  }
}
